
<div id="follow_headers">
  <h1 style="color: green;">Following</h1>
</div>
<% @follows.each do |following| %>
  <div class="rants clearfix">
    <div id="following_page">
    <img class="ranter-image" style="width:45%;height:20%" src=<%= following.user.image %>>
    <%= link_to following.user.username, user_bios_path(following.user.id) %>
    </div>
    <div id="rant_button">
      <%= button_to "Unfollow", user_follow_path(:id => following.follow_id), method: "delete" %>
    </div>
  </div>
<% end %>