/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.clearfix {
  clear: both;
  zoom:1;
  &:before, &:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }
  &:after {
    clear: both;
  }
}

body {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}

#logo {
    float: right;
}
header {
    font-size:30px;
    border: 1px solid #ccc;
    padding: .5em;
    background: rgba(0, 0, 0, 0.74);
}
#home {
    text-align: center;
    font-size:30px;

}
#jeff {
    position: relative;
    float: left;
}
#para {
    float: right;
    position: relative;

}
.button-link {
    font-size:15px;
    padding: 4px;
    margin-right:4px;
    border: 1px solid black;
    background: #e9e9e9;
    text-decoration: none;
    color:black;
}
.button {
    font-size:30px;
    padding: 4px;
    margin-right:4px;
    border: 1px solid black;
    background: green;
    text-decoration: none;
    color:black;
}
.center {
    text-align:center;
    margin:0 auto;
    margin-top:4rem;
    width:40rem;
}
.promo {
    background-color: #666666;
    width: 100%;
    height: 20rem;
    position: absolute;
    bottom: 0;
}
p {
    color: white;
    width:29rem;
    text-align:left;
    margin:0;
}
#flash {
    color: green;
    font-size:20px;
    text-align: center;
}
#rants_headers {
  text-align: center;
}
#rants{
  padding: .25em;
  border: 10px black;
  background: grey;

}
#follow_headers{
  text-align: center;
}
.rants {
  width: 80%;
  border: 1px solid #ccc;
  padding: 1em;
  margin: 1em auto;
  background: #efefef;
}
#rants_buttons{
  float: right;
  display: inline-block;
  position: relative;
}
.my_rants {
  width: 80%;
  border: 1px solid #ccc;
  padding: 1em;
  margin: 1em auto;
  background: #efefef;

  dt{
    width: 80%;
    float: left;
    position: relative;
  }
}
#toolbar {
  text-align: center;
}
.errors {
  color: red;
}